<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대회 목록 페이지</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/competition.css" rel="stylesheet">

    <!-- jquery 사용 -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script type="text/javascript">
        function saveCompetition() {
            const url = "/competition/saveCompetition";
            const name = "save competition";
            const option = "width = 1000, height = 600, top = 100, left = 100"

            window.open(url, name, option);
        }
    </script>

</head>
<body>
<!-- HEADER -->
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/competition" class="nav-link px-2 text-blue">대회</a></li>
                <li><a href="/competition/calendar" class="nav-link px-2 text-white">대회 캘린더</a></li>
                <li><a href="/player" class="nav-link px-2 text-white">선수 조회</a></li>
                <li><a href="/articles" class="nav-link px-2 text-white">게시판</a></li>
            </ul>

            <div th:if="${loginUser == null}" class="text-end">
                <button type="button" class="btn btn-outline-light me-2" onclick="location.href = 'user/login'">로그인</button>
                <button type="button" class="btn btn-warning" onclick="location.href = 'user/join'">회원가입</button>
            </div>

            <div th:unless="${loginUser == null}" class="text-end">
                <button type="button" class="btn btn-outline-light me-2" onclick="location.href = 'user/info'"><div th:text="${loginUser.userName}"></div></button>
                <button type="button" class="btn btn-warning" onclick="location.href = 'user/logout'">로그아웃</button>
            </div>
            </th:if>
        </div>
    </div>
</header>

<!-- MAIN -->
<div class="container">
    <div class="col-12 col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>대회 목록</h4>
            </div>
            <div style="text-align: right; margin-right: 25px">
                <button type="button" onclick="location.href = 'competition/saveCompetition'">등록</button>
            </div>
            <div class="card-body">
                <div class="media-list position-relative">
                    <div class="table-responsive" id="competition-list" tabindex="1" style="height: 400px; overflow: hidden; outline: none;">
                        <table class="table table-hover table-xl mb-0" th:object="${competitionList}">
                            <thead>
                            <tr>
                                <th class="col-8">대회 이름</th>
                                <th>대회 일정</th>
                                <!-- TODO: admin 계정에서만 보일 수 있게 수정 필요 -->
                                <th class="admin-auth" style="width: 120px">관리자 권한</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="lists : ${competitionList}">
                                <td class="text-truncate"><a href="#" th:text="${lists.competitionName}"></a></td>
                                <td class="text-truncate" th:text="${lists.startDate} + ' ~ ' + ${lists.endDate}"></td>
                                <!-- TODO: admin 계정에서만 보일 수 있게 수정 필요 -->
                                <td class="admin-auth">
                                    <button>수정</button>
                                    <button>삭제</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>
</body>
</html>